{% extends 'base.html' %}

{% block content %}


     <h1>Employee List</h1>
    <a href="{% url 'create_employee' %}" class="add-employee">Add New Employee</a>
        {% if employees %}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ employee.username }}</td>
                            <td>{{ employee.email }}</td>
                            <td>
                                {% if employee.is_admin %}
                                    <span class="role-badge admin">Admin</span>
                                {% elif employee.is_worker %}
                                    <span class="role-badge worker">Worker</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'employee_edit' employee.id %}" class="role-badge admin">Edit</a>
                                <a href="{% url 'employee_delete' employee.id %}" class="role-badge worker" style="background-color: #dc3545;">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="empty-message">
                <p>No employees found. Click <a href="{% url 'create_employee' %}" style="color: #007bff; text-decoration: none;">here</a> to add one.</p>
            </div>
        {% endif %}

{% endblock %}