{% extends 'base.html' %}

{% block content %}
    {% if project %}
        <h1>Tasks for Project: {{ project.name }}</h1>
    {% else %}
        <h1> No tienes un projecto asignado</h1>
    {% endif %}
    {% if project %}
        <div class="project-details">
            <p><strong>Project Description:</strong> {{ project.description }}</p>
        </div>

        {% if tasks %}
            <ul class="tasks-list">
                {% for task in tasks %}
                    <li>
                        <div class="card-task">
                            <span class="task-title"><strong>{{ task.title }}</strong></span>
                            <p>{{ task.priority }}</p>
                            <p class="task-meta">Status: {{ task.status }} | Due: {{ task.end_date }}</p>
                            <p>Assigned to: {{ task.assigned_to }}</p>
                                                    <div class="">
                            <a href="{% url 'task_edit' project.id task.id %}" class="btn">Edit</a>
                            <a href="{% url 'task_delete' project.id task.id %}" class="btn"
                               style="background-color: #dc3545;">Delete</a>
                        </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-tasks">
                <p>No tasks assigned to this project.</p>
            </div>
        {% endif %}

        <div class="actions">
            <a href="{% url 'task_create' project.id %}" class="btn">Add a New Task</a>
            <a href="{% url 'project_list' %}" class="btn ">Back to Project List</a>
        </div>

    {% else %}
        <div class="no-project">
            <p>No project available. Please go back to the project list.</p>
        </div>
    {% endif %}
{% endblock %}