{% extends 'base.html' %}

{% block content %}
<h1>Create Project</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div style="color: red; font-size: 12px;">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn">Save</button>
        </form>
        <a href="{% url 'project_list' %}" class="back-link">Back to Project List</a>
{% endblock %}
