<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url 'project_tasks' project.id %}">{{ project.name }}</a> - {{ project.description }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'project_create' %}">Create a New Project</a>
    <form method="post" action="{% url 'logout' %}"> {% csrf_token %}
        <button>Logout</button>
    </form>

    <form method="post" action="{% url 'create_employee' %}"> {% csrf_token %}
        <button>Create Employee</button>
    </form>
</body>
</html>
