{% extends 'base.html' %}

{% block content %}
        <ul class="project-list">
                <h1>Lista de Proyectos</h1>
            {% for project in projects %}
                <li>
                    <a href="{% url 'project_tasks' project.id %}">{{ project.name }}</a>
                    <p>{{ project.description }}</p>
                             <form action="{% url 'optimize_tasks' project.id %}" method="get" style="display: inline;">
                    <button type="submit" class="btn">Optimizar Tareas</button>
                </form>
                </li>
            {% endfor %}
        </ul>



        <div class="actions">
            <a href="{% url 'project_create' %}" class="btn">Create a New Project</a>
            <a href="{% url 'list_employees' %}" class="btn">
                List of Employees
            </a>
        </div>



{% endblock %}

